/* css for whole website 
theme*/

html {
    font-size: 20px;
    font-display: optional;
    line-height: 100px, 1.5rem;
    color: black;
    background-color: white;
    border: 3px solid black;
}

body {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: white;
    background-color: #463f3a;
    text-align: center;
    margin: auto;
}

p {
    font-size: 20px;
    color: white;
    background-color: #463f3a;
    text-align: center;
}

p1 {
    font-size: 20px;
    color: black;
}



img.center {
    width: 100%;
    max-width: 500px;
    height: 500px;
    object-fit: cover;
}

/* navigation menu */
nav {
    font-size: 20px;
    color: white;
    background-color: #463f3a;
    overflow: visible;
    margin-bottom: 20px;
    min-height: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    font-size: 20px;
    color: inherit;
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    color: white;
    background-color: #463f3a;
}

/* Dropdown */
.buttonDrop {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 200px;
    border: none;
    z-index: 9999;
    max-height: 200px;
    min-height: 20px;
    overflow: auto;

}

.assignDrop {
    font-size: 20px;
    color: inherit;
    background-color: #463f3a;
    cursor: pointer;
    border: none;
    padding: 8px 8px;
    text-decoration: none;
}

.buttonDrop.show {
    display: block;
}


footer {
    font-size: 20px;
    padding: 20px 0;
}