/* css for whole website 
theme*/

html {
    font-size: 100%;
    font-family: Arial, Helvetica,
        sans-serif;
    line-height: 100px, 1.5rem;
    color: white;
    background-color: white;
    border: 3px solid black;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    background-color: #463f3a;
    text-align: center;
    margin: auto;
}

p {
    font-size: inherit;
    color: inherit;
    background-color: #463f3a;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* navigation menu */
nav {
    background-color: #463f3a;
    overflow: visible;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    font-size: inherit;
    color: inherit;
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    color: white;
    background-color: #463f3a;
}

/* Dropdown */
.buttonDrop {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 200px;
    border: none;
    z-index: 9999;
    max-height: 200px;
    overflow: auto;

}

.assignDrop {
    font-size: inherit;
    color: inherit;
    background-color: #463f3a;
    cursor: pointer;
    border: none;
    padding: 8px 8px;
    text-decoration: none;
}

.buttonDrop.show {
    display: block;
}